$colors: (
  "light": $light,
  "dark": $dark,
  "accent": $accent,
  "body": $text-dark,
  "gray": $gray,
);

@each $key, $val in $colors {
  .text {
    &-#{$key} {
      color: $val;
    }
  }

  .bg {
    &-#{$key} {
      background-color: $val;
    }
  }
}

$displays: (
  "grid": grid,
  "flex": flex,
  "block": block,
);

@each $key, $val in $displays {
  .#{$key} {
    display: $val;
  }
}

$justify: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly,
);

@each $key, $val in $justify {
  .justify-#{$key} {
    justify-content: $val;
  }
}

$items: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
);

@each $key, $val in $items {
  .items-#{$key} {
    align-items: $val;
  }
}

@for $i from 1 through 5 {
  .gap-#{$i} {
    grid-gap: $i + rem;
  }
  .mb-#{$i} {
    margin-bottom: $i + rem;
  }
  .grid-cols-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
  .py-#{$i} {
    padding-top: $i + rem;
    padding-bottom: $i + rem;
  }
}
